button {
	all: unset;
	color: var(--main-color-dark);
	cursor: pointer;
	background-color: var(--main-color-light);
	border-radius: 3rem;
	padding: 0 4px;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
}
button:hover,
button:active {
	background-color: var(--main-color-dark);
	color: var(--main-color-light);
}
#main {
	background-color: white;
	border-radius: 1rem;
}


.main {
	border-radius: 1rem;
	background-color: #fffd;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	/* padding: 1em 1rem; */
	padding: 10px 10px;
}

.card {
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
}