/* .main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
} */

.secondary {
	padding: 1rem;
}
.main > div,
.secondary > div {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	/* background-color: rgb(180, 218, 236); */
	background-color: white;
	border-radius: 1rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	color: black;
	background-color: black;
}

.card-header > h1 {
	text-align: center;
}

.contact > div:first-child {
	background-color: var(--color-main-med);
	color: white;
}

.d-block {
	height: 500px;
	width: 100% !important;
}