/* .main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
} */

.secondary {
	padding: 1rem;
}
.main > div,
.secondary > div {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	/* background-color: rgb(180, 218, 236); */
	background-color: white;
	border-radius: 1rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	color: black;
	background-color: black;
}
.carousel-item img {
	max-height: 500px !important;
	width: auto !important;
	height: auto !important;
	max-width: 100% !important;
	display: block;
	margin: 0 50%;
	position: relative;
	transform: translate(-50%);
}

.card-header {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}
.card-header > h1 {
	text-align: center;
}

.contact > div:first-child {
	background-color: var(--color-main-med);
	color: white;
}

.d-block {
	height: 500px;
	width: 100% !important;
}

.button{    
	background-color: var(--main-color-button);
	color: white;
	border: 1px solid #fff0;
	box-shadow: 0 0 2px 1px #6af4;
}
.button:hover{
	background-color: white;
	color: var(--main-color-button);
	border: 1px solid #fff0;
	box-shadow: 0 0 2px 1px var(--main-color-button);
}