/* .card{
        background-color: rgb(180, 218, 236);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
}

.main {
        border-radius: 1rem;
        background-color: rgba(180, 180, 236, 0.801);
        padding: 1rem 1rem !important;  
} */

/* .main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
} */

.card {
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
	background-color:white;
}

.button{

	background-color: var(--main-color-button);
	border-color:  var(--main-color-button);

}

.button:hover{

	background-color: var(--main-color-button);
}