/* input.text:focus {
	all: unset;
	outline-width: 0 !important;
}

input.form-control:focus{
	outline-width: 0;
} */

.input-text:focus{outline:none;}
*,
*:focus,
*:active{
	outline: none !important;
}

#search-bar > * {
	background-color: unset;
	border: unset;
	box-shadow: unset;
}

.inside {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.advertentie {
	margin: 1rem 4px;
	background-color: white;
	padding: 10px;
	width: 400px;
	border-radius: 6px;
	font-size: 1.2em;
}
.advertentie > a {
	color: black;
	align-content: center !important;

}
.advertentie > a:hover {
	color: black;
}
.advertentie > a > * {
	text-align: center;
}
.advertentie > a > .price {
	background-color: var(--main-color-dark);
	color: white;
}

.container2{
	background-color: white;
	padding: 0 0;
	border: 1px solid grey;
	border-radius: 5px;
}

.search-bar{
	border: none;
	/* border-right: grey solid 1px; */
	border-right: solid grey 1px;
}

.category{
	background-color: white;
	border: hidden;
	padding: 4px;
	cursor: pointer;
	font-weight: bold;
	font-size: 17px;
}

.vertical-row {
	float: left;
	height: 100%;
	width: 1px;
	background-color: grey;
}

.search-button{
	background-color: white;
	color: black;
	border-radius: 0;
	border: none;
	border-left: 1px grey solid;
	margin: 0;
	font-weight: bold;
	font-size: 17px;
	border-radius: 0px 5px 5px 0px;
}

.filler1{
	height: 200px;
	display: hidden;
}

.filler2{
	height: 50px;
	display: hidden;
}
.paginate-bar {
	background-color: white;
	border-radius: 1rem;
	margin: auto;
	width: 94px;
	display: flex;
	flex-direction: row;
}

.paginate-bar > * {
	background-color: unset;
	border: unset;
	font-size: 30px;
}

#paginate-number {
	width: 44px;
	text-align: center;
}

#map {
	height: 600px;
}