#search-bar > * {
	background-color: unset;
	border: unset;
	box-shadow: unset;
}

.inside {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.advertentie {
	margin: 1rem 4px;
	background-color: white;
	padding: 10px;
	width: 400px;
	border-radius: 6px;
	font-size: 1.2em;
}
.advertentie > a {
	color: black;
	align-content: center !important;

}
.advertentie > a:hover {
	color: black;
}
.advertentie > a > * {
	text-align: center;
}
.advertentie > a > .price {
	background-color: var(--main-color-dark);
	color: white;
}

.search-bar{
	border: none;
	padding: 6px;
	border-radius: 2px;
}

.filler{
	height: 300px;
	/* display: hidden; */
}