:root {
	--main-color-light: #ffd;
	--main-color-med: #aa2;
	--main-color-yellow: #ff4;
	--main-color-dark: #660;
	--main-color-text: #330;
}

*:focus {
	outline: none !important;
}

body {
	color: var(--main-color-text);
}

a {
	opacity: 0.8;
	color: var(--main-color-dark) !important;
}
a:hover {
	opacity: 1;
	text-decoration: underline !important;
}

button {
	margin: auto;
	transition: background-color 0.2s ease-in-out;
}

.card-header,
.navbar {
	background-color: var(--main-color-light) !important;
}

.role-list-item {
	background-color: var(--main-color-dark);
	color: white;
	padding: 4px;
	font-size: 12px;
	border-radius: 8px;
	font-weight: bold;
}

.form-control:focus {
	box-shadow: 0 0 0 .2rem var(--main-color-med) !important;
	border: 1px solid var(--main-color-med) !important;
}

.btn-outline-warning {
	color: var(--main-color-dark) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: var(--main-color-light) !important;
}