:root {
	--main-color-light: #ffd;
	--main-color-med: #aa2;
	--main-color-dark: #660;
	--main-color-text: #330;
}

*:focus {
	outline: none !important;
}

body {
	color: var(--main-color-text);
}

a {
	opacity: 0.8;
	color: var(--main-color-dark) !important;
}
a:hover {
	opacity: 1;
	text-decoration: underline !important;
}

.card-header,
.navbar {
	background-color: rgb(255,255,255,0.1) !important;
}

.role-list-item {
	background-color: var(--main-color-dark);
	color: white;
	padding: 4px;
	font-size: 12px;
	border-radius: 8px;
	font-weight: bold;
}

.form-control:focus {
	box-shadow: 0 0 0 .2rem var(--main-color-med) !important;
	border: 1px solid var(--main-color-med) !important;
}

.btn-outline-warning {
	color: var(--main-color-dark) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: var(--main-color-light) !important;
}

/* begin styling Sjoerd */

.outer-container{
	border: 1px;
	border-style: solid;
	border-color: grey;
	border-radius: 6px;
	
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
}

.container{
	/* background-color: rgb(248, 245, 245); */
	/* opacity: 0.7; */
}

/* eind styling Sjoerd */