/* .main {
	border-radius: 1rem;
	/* background-color: #fffd;
	background-color: rgb(180, 218, 236);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem !important;
} */

.card {
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.button{
	background-color: var(--main-color-button);
	border-color: var(--main-color-button);
}

.button:hover{
		background-color: var(--main-color-button);
		border-color: var(--main-color-button);
}

