h3 {
	text-align: center;
}
button {
	all: unset;
	/* color: var(--main-color-dark); */
	cursor: pointer;
	background-color: var(--main-color-light);
	border-radius: 3rem;
	padding: 0 4px;
	cursor: pointer;
	transition: color 0.2s, background-color 0.2s;
	/* background-color: rgb(180, 218, 236); */
}
button:hover,
button:active {
	/* background-color: var(--main-color-dark);
	color: var(--main-color-dark); */
	background-color: rgb(180, 218, 236);
}

.paginate-bar {
	background-color:white;
	border-radius: 1rem;
	margin: auto;
	display: flex;
	flex-direction: row;

	background-color:rgba(255,0,0,0.0);
	position: sticky;padding: 5px 0;
	background-color: #aaa;
	display: inline;
}

.paginate-bar > * {
	background-color: unset;
	border: unset;
	font-size: 15px;
	padding:2px;
}

#paginate-number {
	width: 48px;
	text-align: center;
	color: white;

}

#paginate-left{
	color: white;
}

#paginate-right{
	color: white;
}

.card {
	/* border-radius: 1rem; */
	border-radius: 4px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
	background-color: white;
}
