.dropdown-item:focus, .dropdown-item:hover {
        /* background-color: var(--main-color-light) !important; */
        background-color: rgb(163, 213, 236);
}
.dropdown-menu {
        background-color: rgb(180, 218, 236);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.dropdown-menu a{
        font-weight: bold;
}