body {
	color: var(--main-color-dark);
}
div>nav {
	padding: 6px;
	border-bottom: 1px solid var(--main-color-med);
}
div>.main {
	padding: 4px;
}
input {
	background: unset;
	border: unset;
	border-bottom: 1px solid var(--main-color-med);
			background-color: white;
	margin-left: 1rem;
	transition: box-shadow 0.2s ease-in;
	padding: 4px;
}
input:focus {
	box-shadow: 0 0 .5rem .2rem var(--main-color-med) !important;
}
input.invalid {
	background-color: #f99 !important;
}
input.invalid:focus {
	box-shadow: 0 0 .5rem .2rem #f99 !important;
}
input[name="password_old"] {
	margin-bottom: .5rem;
}
button {
	transition: color 0.2s, background-color 0.2s;
}
label {
	margin-top: 4px;
}
#container {
	border-top: 2px solid var(--main-color-dark);
	border-left: 2px solid var(--main-color-dark);
	border-right: 2px solid var(--main-color-med);
	border-bottom: 2px solid var(--main-color-med);
	background-color: var(--main-color-light);
	border-radius: 1rem;
	/* background-color: rgb(180, 218, 236); */
	background-color: white;
}
.row {
	padding: 1rem;
}
#submit-changes-message {
	margin-top: 1rem;
	border-radius: 6px;
	text-align: center;
	background-color: white;
	color: black;
	border: 1px solid var(--main-color-med);
}
#submit-changes-pw {
	margin-top: 1rem;
}
.input-feedback {
	color: red;
	border: solid 1px red;
	margin-top: 4px;
	background-color: #f99;
	width: auto;
}
#map {
	height: 400px;
}

/* .main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
} */

.card {
	/* border-radius: 1rem; */
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
	background-color: white;
}

.navbar-style{
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

.button{
	background-color: rgb(154, 209, 235);
	border-color: rgb(154, 209, 235);
}
