
.paginate-bar {
	background-color: white;
	border-radius: 1rem;
	margin: auto;
	width: 94px;
	display: flex;
	flex-direction: row;
	background-color:rgba(255,0,0,0.0);
}

.paginate-bar > * {
	background-color: unset; 
	border: unset;
	font-size: 30px;
}

#paginate-number {
	width: 44px;
	text-align: center;
	color: black;
}



#paginate-left{
	color: black;
}

#paginate-right{
	color: black;
}

#paginate-left-bot{
	color: black;
}

#paginate-right-bot{
	color: black;
}

.main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
}

.card {
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
	background-color: rgb(180, 218, 236);
}

.line-div{
	height: 10px;
	width: 10px;
	display: hidden;
}