.paginate-bar {
	background-color:white;
	border-radius: 1rem;
	margin: auto;
	background-color:rgba(255,0,0,0.0);
	padding: 5px 0;
	background-color: #aaa;
	display: inline;
	margin-left: 44%;
}

.paginate-bar > * {
	background-color: unset;
	border: unset;
	font-size: 15px;
	padding:2px;
	margin-bottom: 20px;
	

	/* position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center; */
}

#paginate-number {
	width: 48px;
	text-align: center;
	color: white;
}

#paginate-left{
	color: white;
}

#paginate-right{
	color: white;
}

/* .main {
	border-radius: 1rem;
	background-color: rgba(180, 180, 236, 0.401);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	padding: 1rem 1rem;
} */

.card {
	border-radius: 1rem;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	/* opacity: 0.6; */
	/* background-color: lightgrey; */
	/* background-color: rgb(180, 218, 236); */
	background-color: white;
}

.line-div{
	height: 10px;
	width: 10px;
	display: hidden;
}